<template name="pageTables">
    <!-- Page heading -->
    {{> pageHeading title='Meine Aufgaben'}}


    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">


            <div class="col-lg-12">

                <div class="ibox-content">
                    {{> taskAdd}}
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Beschreibung</th>
                                <th>Datum</th>
                                <th>User</th>
                                <th>Sichtbarkeit</th>
                                <th>Optionen</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#each tasks}}
                                {{> taskSingle}}
                            {{/each}}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</template>
